<%
  const coverImage = (() => {
    if (is_post()) return page.cover_image || getConfig('cover_image.default');
    else return getConfig(`cover_image.${pageIs}`) || getConfig('cover_image.default');
  })();
%>
<div class="cover-background" style="background-image:url(<%= coverImage %>)">
  <div class="cover-content">
    <% if (!is_home()) { %>
    <h1><%= pageTitle %></h1>
    <% } %>
    <% if (is_post()) { %>
    <div class="metadata">
      <time><%= date(page.date) %></time>
      <%- page.tags ? list_tags(page.tags, { show_count: false }) : '' %>
    </div>
    <% } else if (is_home()) { %>
    <div class="center">
      <%- partial('_partials/profile', {imgSize: 128}) %>
    </div>
    <% } %>
  </div>
</div>