<ul class="posts collection">
  <% posts.each(post => { %>
    <li class="collection-item">
      <h4 class="post-title">
        <a href="<%= url_for(post.path) %>"><%= post.title %></a>
      </h4>
      <time><%= date(post.date) %></time>
      <p class="post-summary">
        <span><%= truncate(strip_html(post.excerpt || post.content), { length: 200 }) %></span>
        <a href="<%= url_for(post.path) %>" class="more">Read more</a>
      </p>
      <%- list_tags(post.tags, { show_count: false }) %>
    </li>
  <% }); %>
</ul>