<section class="profile">
  <img
    class="circle"
    src="<%- gravatar(getConfig('profile.gravatar'), {s: imgSize}) %>">
  <div class="name white-text"><%= getConfig('author') %></div>
  <div class="comment white-text"><%- getConfig('profile.comment', '') %></div>
  <div class="links">
    <% _.forEach(getConfig('profile.links'), (link, key) => { %>
    <a
      href="<%= link.url %>"
      class="<%= link.class %> mdi-24px white-text"></a>
    <% }); %>
  </div>
</section>