<ul id="menu" class="side-nav">
  <li>
    <div class="userView">
      <div class="background">
        <%- image_tag(getConfig('profile.background')) %>
      </div>
      <%- partial('_partials/profile', {imgSize: 64}) %>
      </div>
    </div>
  </li>
  <li>
    <a href="<%= url_for('/') %>" class="waves-effect">
      <i class="mdi mdi-home"></i>
      <span><%= __('home') %></span>
    </a>
  </li>
  <li>
    <a href="<%= url_for(`/about/${page.lang}/`) %>" class="waves-effect">
      <i class="mdi mdi-help"></i>
      <span><%= __('about') %></span>
    </a>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect">
          <i class="mdi mdi-archive"></i>
          <span><%= __('archive') %></span>
          <i class="mdi mdi-chevron-down right"></i>
        </a>
        <div class="collapsible-body">
          <%- partial('_partials/archives') %>
        </div>
      </li>
      <li>
        <a class="collapsible-header waves-effect">
          <i class="mdi mdi-tag-multiple"></i>
          <span><%= __('tag') %></span>
          <i class="mdi mdi-chevron-down right"></i>
        </a>
        <div class="collapsible-body">
          <%- list_tags(site.tags) %>
        </div>
      </li>
    </ul>
  </li>

  <% if (is_post()) { %>
  <li><div class="divider"></div></li>
  <li><a class="subheader"><%= __('toc') %></a></li>
  <li><%- toc(page.content) %></li>
  <% } %>
</ul>