<ul id="menu" class="side-nav">
  <li>
    <div class="userView">
      <div class="background">
        <%- image_tag(getConfig('profile.background')) %>
      </div>
      <a href="<%= getConfig('profile.page', '#') %>">
        <img
          id="profileImage"
          class="circle tooltipped"
          src="<%- gravatar(getConfig('profile.email'), {s: 64}) %>"
          data-position="right"
          data-delay="50"
          data-tooltip="About me">
      </a>
      <div class="white-text name">
        <a
          href="<%= getConfig('profile.page', '#') %>"
          class="white-text"
          data-proxy-event="mouseover mouseout"
          data-target="#profileImage"><%= getConfig('author') %></a>
      </div>
      <div class="comment">
        <a
          href="<%= getConfig('profile.page', '#') %>"
          class="white-text"
          data-proxy-event="mouseover mouseout"
          data-target="#profileImage"><%= getConfig('profile.comment', '') %></a>
      </div>
      <div class="white-text links">
        <% _.forEach(getConfig('profile.links'), (link, key) => { %>
        <a
          href="<%= link %>"
          class="mdi mdi-<%= _.toLower(key) %> white-text tooltipped"
          data-position="bottom"
          data-delay="50"
          data-tooltip="<%= key %>"></a>
        <% }); %>
      </div>
    </div>
  </li>
  <li><a href="/" class="waves-effect"><i class="mdi mdi-home"></i>Home</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect">
          <i class="mdi mdi-archive"></i>
          <span>Archives</span>
          <i class="mdi mdi-chevron-down right"></i>
        </a>
        <div class="collapsible-body">
          <%- partial('_partials/archives') %>
        </div>
      </li>
      <li>
        <a class="collapsible-header waves-effect">
          <i class="mdi mdi-tag-multiple"></i>
          <span>Tags</span>
          <i class="mdi mdi-chevron-down right"></i>
        </a>
        <div class="collapsible-body">
          <%- list_tags(site.tags) %>
        </div>
      </li>
    </ul>
  </li>

  <% if (is_post()) { %>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Table of Contents</a></li>
  <li><%- toc(page.content) %></li>
  <% } %>
</ul>